@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400&family=Sora:wght@400;700&display=swap');

body {
  font-family: 'M PLUS 1p', sans-serif;
  line-height: 1.7;
  background-color: gray;
}

.navbar {
  width: 100vw;
}

.text-white {
  font-family: 'Sora', sans-serif;
}

.navbar .nav-link {
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  margin-left: 30px;
}

.table-responsive {
  width: 98%;
  margin-top: 20px;
  display: flex;
}

